@mixin desktop-supported {
    @media not all and (hover: none) {
        @content;
    }
}
@mixin breakpoint-sm {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin circle {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: initial;
    border-radius: 50%;
    background-color: $support-dark-3;

    @include breakpoint-sm {
        width: 40px;
        height: 40px;
    }
}

@mixin button($color, $bgColor) {
    display: block;
    width: 100%;
    padding: 1.2rem 2.5rem;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    background-color: $bgColor;
    color: $color;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    @include desktop-supported {
        &:hover {
            background-color: $color;
            color: $bgColor;
        }
    }
    &:active {
        background-color: $color - 30%;
    }
}