/* 
    CSS Reset by @Leo-Henrique | https://github.com/Leo-Henrique/css-reset

    Inspired by meyerweb reset | https://meyerweb.com/eric/tools/css/reset/
*/
*, *::after, *::before, a, abbr, address,
article, aside, audio, b, bdi, bdo,
blockquote, body, br, button, canvas,
caption, cite, code, col, colgroup, data,
datalist, dd, del, details, dfn, dialog, div,
dl, dt, em, embed, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5,
h6, header, hgroup, hr, html, i, iframe,
img, input, ins, kbd, label, legend, li,
main, mark, menu, meter, nav, noscript,
object, ol, optgroup, option, output, p,
pre, progress, q, rp, rt, ruby, s, samp,
section, select, slot, small, span, strong,
sub, summary, sup, table, tbody, td,
template, textarea, tfoot, th, thead,
time, tr, u, ul, var, video, wbr {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, img, menu, nav, section, svg,
video {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  -webkit-tap-highlight-color: transparent;
}

a, button, input,
select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, abbr[title] {
  text-decoration: none;
}

abbr[title] {
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

button {
  background: none;
  text-align: left;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img, video {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  font: 400 1.5rem / 1.5 "Overpass", sans-serif;
  color: #7c8798;
  background-color: #121417;
}

@media (max-width: 575.98px) {
  body {
    font-size: 1.4rem;
  }
}

.card {
  max-width: 410px;
  width: 100%;
  padding: 3rem;
  border-radius: 20px;
  background-color: #19202A;
}

.card h1 {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -9999;
}

.card .star {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: initial;
  border-radius: 50%;
  background-color: #252d37;
  margin-bottom: 3rem;
}

@media (max-width: 575.98px) {
  .card .star {
    width: 40px;
    height: 40px;
  }
}

.card .title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

.card p {
  margin-bottom: 2rem;
}

.card .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card .rating button {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: initial;
  border-radius: 50%;
  background-color: #252d37;
  color: #959eac;
  font-weight: 700;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .card .rating button {
    width: 40px;
    height: 40px;
  }
}

@media not all and (hover: none) {
  .card .rating button:hover {
    color: #ffffff;
    background-color: #fb7413;
  }
}

.card .rating button:active, .card .rating button.active {
  color: #ffffff;
  background-color: #7c8798;
}

.card > button {
  display: block;
  width: 100%;
  padding: 1.2rem 2.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
  background-color: #fb7413;
  color: #ffffff;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

@media not all and (hover: none) {
  .card > button:hover {
    background-color: #ffffff;
    color: #fb7413;
  }
}

.card > button:active {
  background-color: #e1e1e1;
}

.submitted {
  text-align: center;
}

.submitted .illustration {
  margin-bottom: 3rem;
}

.submitted .illustration img {
  margin: 0 auto;
}

.submitted .user-rating {
  display: inline-block;
  border-radius: 20px;
  background-color: #252d37;
  line-height: initial;
  white-space: nowrap;
  color: #fb7413;
  padding: 0.7rem 1.8rem 0.5rem;
  margin-bottom: 2rem;
}

.submitted > button {
  display: block;
  width: 100%;
  padding: 1.2rem 2.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
  background-color: #ffffff;
  color: #fb7413;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

@media not all and (hover: none) {
  .submitted > button:hover {
    background-color: #fb7413;
    color: #ffffff;
  }
}

.submitted > button:active {
  background-color: #dd5600;
}
